td {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    height: 18px;
    width: 18px;
}

table {
    border-collapse: collapse;
    border-width: 20px;
}
/*  */
div.boardOutterSmallHeader {
    border-style: outset;
    width: 189px;
    height: 55px;
    background-color: #cccccc;
}
div.boardInnerSmallHeader {
    border-style: inset;
    width: 169px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}
/* 169  - 189 */
div.boardOutterIntermediateHeader {
    border-style: outset;
    width: 357px;
    height: 55px;
    background-color: #cccccc;
}
div.boardInnerIntermediateHeader {
    border-style: inset;
    width: 337px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}
/*  */
div.boardOutterExpertHeader {
    border-style: outset;
    width: 651px;
    height: 55px;
    background-color: #cccccc;
}
div.boardInnerExpertHeader {
    border-style: inset;
    width: 631px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}
/*  */

div.boardOutterExpert {
    border-style: none outset outset outset;
    width: 651px;
    height: 413px;
    background-color: #cccccc;
    top: -10px;
    position: relative;
}
div.boardInnerExpert {
    border-style: inset;
    width: 631px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}

/* height  182 - 169  13px*/
div.boardOutterIntermediate {
    border-style: none outset outset outset;
    width: 357px;
    height: 350px;
    background-color: #cccccc;
    top: -10px;
    position: relative;
}
div.boardInnerIntermediate {
    border-style: inset;
    width: 337px;
    height: 337px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}
/*  */

/*  */
div.boardOutterSmall {
    border-style: none outset outset outset;
    width: 189px;
    height: 182px;
    background-color: #cccccc;
    top: -10px;
    position: relative;
}

div.boardInnerSmall {
    border-style: inset;
    height: 169px;
    width: 169px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}
/*  */
div.mine {
    top: -2px;
    position: relative;
    margin-right:1px;
    /* color: red;
    text-align: right;
    font-size: 25px; */
}

div.mineCounter {
    margin: 5px;
    background-color: black;
    width: 40px;
    height: 24px;
    float: left;
    color: red;
    text-align: right;
    font-size: 25px;
}
div.mainButton {
    border-style: solid;
    width: 23px;
    height: 23px;
    float: left;
    border-style: outset;
    margin-left: 20px;
    margin-top: 3px;
}
div.timer {
    margin: 5px;
    background-color: black;
    width: 40px;
    height: 24px;
    float: left;
    color: red;
    text-align: right;
    font-size: 25px;
    margin-left: 25px;
    float: left;
}

/*  */
div.mineCounterIntermediate {
    margin: 5px;
    background-color: black;
    width: 40px;
    height: 24px;
    float: left;
    color: red;
    text-align: right;
    font-size: 25px;
}
div.mainButtonIntermediate {
    border-style: solid;
    width: 23px;
    height: 23px;
    float: left;
    border-style: outset;
    margin-left: 103px;
    margin-top: 3px;
}
div.timerIntermediate {
    margin: 5px;
    background-color: black;
    width: 40px;
    height: 24px;
    float: left;
    color: red;
    text-align: right;
    font-size: 25px;
    margin-left: 109px;
    float: left;
}
/*  */
div.mineCounterExpert {
    margin: 5px;
    background-color: black;
    width: 40px;
    height: 24px;
    float: left;
    color: red;
    text-align: right;
    font-size: 25px;
}
div.mainButtonExpert {
    border-style: solid;
    width: 23px;
    height: 23px;
    float: left;
    border-style: outset;
    margin-left: 240px;
    margin-top: 3px;
}
div.timerExpert {
    margin: 5px;
    background-color: black;
    width: 40px;
    height: 24px;
    float: left;
    color: red;
    text-align: right;
    font-size: 25px;
    margin-left: 266px;
    float: left;
}
/*  */
img.mainButton {
    width:23px;
}

img.square {
  width: 20px;
  height: 20px;
  margin: -1px -1px -5px -1px;
}
