h1.mainTitle {
    text-align: center;
    font-family: Georgia;
    font-size: 56px;
}
div.mainNavbar {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    width: 400px;
    margin-top: -35px;
    margin-bottom: 40px;
}
button.mainButton {
    margin: 5px;
    font-size: 20px;
    background-color:#404040;
    color: white;
}
button {
    outline: none;
}

button.howToPlay {
    font-size:20px;
    border-radius: 50px;
    padding: 8px 10px;
    border-color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

.contactInfo {
    width: 215px;
    margin-left: auto;
    margin-right: auto;
}
.githubImage {
    float: left;
    width:40px;
    margin-right: 10px;
}
.linkedinImage {
    float: left;
    width:50px;
    margin-right: 8px;
    margin-left:-6px;
}
.emailImage {
    float: left;
    width: 35px;
    margin-right: 14px;
    margin-left: 4px;
}

.chessGame {
    width: 202px;
    margin-left: auto;
    margin-right: auto;
}
.chessInfo {
  margin-top: 50px;
  margin-bottom: 30px;
}
.mainLogoImage {
  float: left;
  background-color: black;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  margin-right: 14px;
}
.logoWidth {
  margin-top: 4px;
  width: 26px;
}
.infoChess {
    text-align: left;
    line-height: 2em;
}

.icons {
    width: 100%;
}
.info {
    text-align: left;
    line-height: 2.55em;
}
.infoLinkedin {
    text-align: left;
    line-height: 3em;
}
.infoEmail {
    text-align: left;
    line-height: 2em;
}

.moveEmail {
    margin-top: 10px;
}
/*  */
div.home {
    /* border-style: solid; */
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

div.mainSmall {
    /* border-style: solid; */
    width: 195px;
    margin-right: auto;
    margin-left: auto;
}
div.mainMedium {
    /* border-style: solid; */
    width: 363px;
    margin-right: auto;
    margin-left: auto;
}
div.mainLarge {
    /* border-style: solid; */
    width: 657px;
    margin-right: auto;
    margin-left: auto;
}

td {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    height: 18px;
    width: 18px;
}

table {
    border-collapse: collapse;
    border-width: 20px;
}
/*  */
div.boardOutterSmallHeader {
    margin-left: auto;
    margin-right: auto;
    border-style: outset;
    width: 189px;
    height: 55px;
    background-color: #cccccc;
}
div.boardInnerSmallHeader {
    border-style: inset;
    width: 169px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}
/* 169  - 189 */
div.boardOutterIntermediateHeader {
    border-style: outset;
    width: 357px;
    height: 55px;
    background-color: #cccccc;
}
div.boardInnerIntermediateHeader {
    border-style: inset;
    width: 337px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}
/*  */
div.boardOutterExpertHeader {
    border-style: outset;
    width: 651px;
    height: 55px;
    background-color: #cccccc;
}
div.boardInnerExpertHeader {
    border-style: inset;
    width: 631px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}
/*  */

div.boardOutterExpert {
    border-style: none outset outset outset;
    width: 651px;
    height: 350px;
    background-color: #cccccc;
    top: -10px;
    position: relative;
}
div.boardInnerExpert {
    border-style: inset;
    width: 631px;
    height: 337px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}

/* height  182 - 169  13px*/
div.boardOutterIntermediate {
    border-style: none outset outset outset;
    width: 357px;
    height: 350px;
    background-color: #cccccc;
    top: -10px;
    position: relative;
}
div.boardInnerIntermediate {
    border-style: inset;
    width: 337px;
    height: 337px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}
/*  */

/*  */
div.boardOutterSmall {
    border-style: none outset outset outset;
    width: 189px;
    height: 182px;
    background-color: #cccccc;
    top: -10px;
    position: relative;
}

div.boardInnerSmall {
    border-style: inset;
    height: 169px;
    width: 169px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}
/*  */
div.mine {
    top: -2px;
    position: relative;
    margin-right:1px;
    /* color: red;
    text-align: right;
    font-size: 25px; */
}

div.mineCounter {
    margin: 5px;
    background-color: black;
    width: 40px;
    height: 24px;
    float: left;
    color: red;
    text-align: right;
    font-size: 25px;
}
div.mainButton {
    border-style: solid;
    width: 23px;
    height: 23px;
    float: left;
    border-style: outset;
    margin-left: 20px;
    margin-top: 3px;
}
div.timer {
    margin: 5px;
    background-color: black;
    width: 40px;
    height: 24px;
    float: left;
    color: red;
    text-align: right;
    font-size: 25px;
    margin-left: 25px;
    float: left;
}

/*  */
div.mineCounterIntermediate {
    margin: 5px;
    background-color: black;
    width: 40px;
    height: 24px;
    float: left;
    color: red;
    text-align: right;
    font-size: 25px;
}
div.mainButtonIntermediate {
    border-style: solid;
    width: 23px;
    height: 23px;
    float: left;
    border-style: outset;
    margin-left: 103px;
    margin-top: 3px;
}
div.timerIntermediate {
    margin: 5px;
    background-color: black;
    width: 40px;
    height: 24px;
    float: left;
    color: red;
    text-align: right;
    font-size: 25px;
    margin-left: 109px;
    float: left;
}
/*  */
div.mineCounterExpert {
    margin: 5px;
    background-color: black;
    width: 40px;
    height: 24px;
    float: left;
    color: red;
    text-align: right;
    font-size: 25px;
}
div.mainButtonExpert {
    border-style: solid;
    width: 23px;
    height: 23px;
    float: left;
    border-style: outset;
    margin-left: 240px;
    margin-top: 3px;
}
div.timerExpert {
    margin: 5px;
    background-color: black;
    width: 40px;
    height: 24px;
    float: left;
    color: red;
    text-align: right;
    font-size: 25px;
    margin-left: 266px;
    float: left;
}
/*  */
img.mainButton {
    width:23px;
}

img.square {
  width: 20px;
  height: 20px;
  margin: -1px -1px -5px -1px;
}

.highscoreSmall {
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
  width: 140px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  font-size: 17px
}
.name {
  display: inline-block;
  /* border-style: solid; */
} 
.score {
  float: right;
  display: block;
}
 .scoreEntry {
  margin-bottom: 3px;
}
.hello {
  margin-top: 30px;
}
.gameDifficulty {
    font-family: Georgia;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}
.scoreTitle {
    font-family: Georgia;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 50px;
}
.rank {
    display: inline-block;
    /* border-style: solid; */
    width: 30px;
}
